.primaryBtn {
    margin-left: 20px;
}

.heading {
    text-align: left;
    margin: 0;
}

.left {
    width: 35%;
}

.right {
    width: 65%;
}

section {
    height: 100vh;
}

.left>img {
    height: 15rem;
    width: 15rem;

}