footer {
    text-align: center;
    background-color: var(--primaryBackground);
    padding: 70px;
    margin-top: 50px;
}

footer i {
    margin: 5px;
    color: var(--primaryColor);
    cursor: pointer;
}